@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 164px;
    background-color: #FAFAF9;
}
.card{
    width: 368px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px #E5EAF0;
    background-color: #fff;
    border: solid 1px #E5EAF0;
    border-radius: 20px;
}
.image img{
    width: 336px;
    margin: 0;
    padding: 16px 16px 0 16px;
    border-radius: 20px;
}
.tag{
    padding: 16px 16px 0 16px;
}
.tag strong{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 6px 16px;
    color: #883AE1;
    background-color: #E6D6FC;
    border-radius: 16px 16px 16px 16px;
}

.title{
    padding: 16px 16px 6px 16px;
    font-size: 18px;
    font-weight: bold;
    color: #20293A;
}

.body{
    font-size: 14px;
    padding: 0 16px 20px 16px;
    color: #6C727F;
    border-bottom: 1px solid #E5EAF0;
}

.small_text{
    font-size: 12px;
    padding: 16px 16px 20px 16px;
}